body{
    font-family: Arial, sans-serif;
}

.card{
    background: azure;
    padding: 20px 15px;
    max-width: 400px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    text-align: center;   
}

.card:hover{
    transform: translateY(-10px);
}


#btn{
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-top: 10px;
}

#btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}